{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-success text-white text-center">
                <h5>Welcome! Setup Master Password</h5>
            </div>
            <div class="card-body">
                <p class="text-muted text-center">
                    Please set a strong Master Password. This password will be used to encrypt your files.
                    <br><strong class="text-danger">If you lose this password, your encrypted files will be
                        unrecoverable!</strong>
                </p>
                <form method="POST">
                    <div class="mb-3">
                        <label for="password" class="form-label">Master Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                            required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Set Password & Start</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}